#!/usr/bin/env bash

# Make vim the default editor
export EDITOR="vim";

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;

# Increase the maximum number of lines of history
# persisted in the Bash history file (default value is 500)
export HISTFILESIZE=10000

# Increase the maximum number of lines of history persisted
# in the `Node` REPL history file (default value is 1000)
# https://github.com/nodejs/node/blob/a85f4b5ce5791caf8caa9b31970313c6183a5499/doc/api/repl.markdown#persistent-history
export NODE_REPL_HISTORY_SIZE=10000

# Allow 32³ entries; the default is 1000.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
# This has finally been corrected!
# export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

## Interesting way of switching java versions.
## src: http://superuser.com/questions/650310/switching-between-java-7-and-8-in-os-x
# export JAVA_HOME=$(/usr/libexec/java_home -v 1.7)
# setjdk() {
#   export JAVA_HOME=$(/usr/libexec/java_home -v $1)
# }

# # Python virtualenvs (http://virtualenvwrapper.readthedocs.org/en/latest/install.html)
# export WORKON_HOME=$HOME/.virtualenvs
# export PROJECT_HOME=$HOME/Code
# source /usr/local/bin/virtualenvwrapper.sh

# if which pyenv-virtualenv-init > /dev/null; then eval "$(pyenv virtualenv-init -)"; fi

# For Docbook, a moreutils dependency
export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"

# For Anaconda
export PATH=/usr/local/anaconda3/bin:"$PATH"

